<% layout('layout/boilerplate') %>
    <h1>All Campgrounds</h1>
    <h2><a href="/campgrounds/new">Add a campground</a></h2>

    <% for (let campground of campgrounds){ %>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <%if(campground.images.length) {%>
                        <img class="img-fluid" alt="" src="<%=campground.image[0].url%>">
                        <% }else {%>
                            <img class="img-fluid" alt=""
                                src="hhttps://res.cloudinary.com/mansi-gupta/image/upload/v1620043666/YelpCamp/ctxv9mq3uiocmhjphcl1.jpg">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=campground.title%>
                        </h5>
                        <p class="card-text">
                            <%=campground.description%>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%=campground.location%>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>